@charset 'utf-8';
.custom-btn{
    display: block;
    padding: rem(30);
    background-color:#007bff;
    color: #ffffff !important;
    font-size: rem(40);
    font-weight:600 ;
    border-radius: rem(6);
    text-align: center;
    &.sm{
      font-weight: 300;
    }
    &.btn-left-margin{
    margin-left: rem(20);
  }
  &.red-btn{
    background-color: #ff0000;
  }
  &:hover{
    color: #ffffff !important;
  }
}
.btn-group{
  display: flex;
  margin-top: rem(40);
  .flex-btn{
    flex: 1 1 30%;
  }
}