@charset 'utf-8';

.form-box{
  width: rem(550);
  padding: rem(40) !important;
  border: rem(1) solid #dee2e6;
  border-radius: rem(5);
  padding-left: rem(120) !important;
  font-size: rem(32);
  &.sm{
    padding: rem(20) !important;
  }
  &.auto-width{
   flex: 1 1 50%;
  }
  &.max-width{
    width: 100%;
  }
  &.select-type{
    width: 100%;
    text-align-last: center;
    margin-top: rem(40);
    background-color: #ffffff;
  }
}