@charset 'utf-8';

.login{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  .login-form{
    margin: auto;
    width: calc(100% - 20%);
  }
  .logo{
    text-align: center;
    img{
      width: 80%
    }
  }
  .input-list{
    width: 80%;
    margin:auto;
    .id-input{
      position: relative;
      margin-bottom: rem(30);
      width: 100%;
      &:after{
        content: '';
        position: absolute;
        left: rem(30);
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/icon_usr.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: rem(40);
        height: rem(40);
      }
    }
    .pw-input{
      position: relative;
      width: 100%;
      &:after{
        content: '';
        position: absolute;
        left: rem(30);
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/icon_password.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: rem(40);
        height: rem(48);
      }
    }
  }
  .remember{
    width: 80%;
    margin: auto;
    margin-top: rem(20);
    .remember-box{
      display: flex;
    }
    #remember{
      display: none;
    }
    label{
      input[id="remember"] + label{
        display: inline-block;
        width: rem(50);
        height: rem(50);
        border: rem(1) solid #ccc;
        cursor: pointer;
        margin-right: rem(30);
      }
      input[id="remember"]:checked + label {
        background-image: url(../img/icon_check.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
      span{
        font-size: rem(40);
      }
    }
  }
  .custom-btn{
    margin-top: rem(40);
    width: 80%;
    margin: auto;
  }
}