@charset 'utf-8';

.header{
  margin: 0;
  padding: 0;
  border: unset;
  .title{
    text-align: center;
    font-size: rem(45);
    background-color: #f8f9fa;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    padding: rem(30);
    margin-bottom: rem(50);
  }
  .insert-box,
  .select-box{
    display: flex;
    width: calc(100% - 10%);
    margin: auto;
  }
}