@charset 'utf-8';

.modal-wrap {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  transition: all 0.3s;
  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
    min-height: rem(630);
    width: 100%;
    max-height: 90vh;
    padding-bottom: rem(50);
    box-sizing: border-box;
    background: #fff;
    border-radius: rem(4);
    overflow-y: auto;
    .title{
      position: relative;
      font-size: rem(40);
      border-bottom:  rem(1) solid  #dee2e6;
      margin: rem(40) 0;
      >h3{
        margin: rem(40) 0;
        margin-left: rem(20);
      }
      .close-btn{
        position: absolute;
        right: rem(40);
        top:rem(6);
      }
    }
    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      .member-info{
        .input-group{
          display: block;
          margin-bottom: rem(30);
          span{
            font-size: rem(28);
            background-color:#dee2e6;
            padding: rem(24);
          }
        }
      }
      .visit-info{
        display: flex;
        flex-direction: column;
        width: calc(100% - 20%);
        margin: auto;
        label{
          display: flex;
          color: #808080;
          margin: rem(20) 0;
        }
        .visit-data{
          border-bottom: rem(1) solid $border-color;
          padding-bottom: rem(10);
        }
      }
      .id-photo{
        margin-bottom: rem(40);
      }
    }
    .state{
      font-size: rem(50);
      margin: rem(60) 0;
      &.waiting{
        color: #ff0000;
      }
      &.success{
        color: #69AA46;
      }
    }
  }
}