.pagging{
  display: flex;
  justify-content: center;
  padding: rem(40) 0;
  ul{
    display: flex;
    li{
      border: rem(1) solid  $border-color;
      border-right: none;
      padding:rem(20);
      line-height: 1.5;
      &.prev{
        border-top-left-radius: $paaging-radius;
        border-bottom-left-radius: $paaging-radius;
        a{
          color: $fc-primary;
        }
      }
      &.next{
        border-top-right-radius: $paaging-radius;
        border-bottom-right-radius: $paaging-radius;
        border-right: rem(1) solid  $border-color;
        a{
          color: $fc-primary;
        }
      }
      &.active{
        background-color: #f8f9fa;
        a{
          color: $fc-primary;
        }
      }
    }
  }
}