.table{
  width: calc(100% - 10%);
  margin: auto;
  margin-top: rem(30);
  tr{
    th,td{
      border: rem(1) solid  #dee2e6;
      text-align: center;
      vertical-align: middle;
      font-size: rem(28);
      border-collapse: collapse;
      padding: rem(20) 0 ;
    }
  }
  tbody{
    tr{
       &:nth-child(4n-1){
         background-color: #f8f9fa;
       }
       &:nth-child(4n){
         background-color: #f8f9fa;
       }
    }
  }
  thead{
    >tr{
      border: rem(1) solid #ddd;
      background: unset;
      >th{
        border-bottom: unset;
      }
    }
  }
}
