body, html {
  margin: 0;
  padding: 0;
}

body {
  -webkit-text-size-adjust: none;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input, select, textarea, fieldset, button {
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
}

table {
  border-collapse: collapse;
}

em {
  font-style: normal;
}

textarea {
  resize: none;
}

.hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

img {
  display: inline-block;
}

.modal-wrap {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-wrap.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-wrap .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 19.6875rem;
  width: 100%;
  max-height: 90vh;
  padding-bottom: 1.5625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 0.125rem;
  overflow-y: auto;
}

.modal-wrap .modal .title {
  position: relative;
  font-size: 1.25rem;
  border-bottom: 0.03125rem solid #dee2e6;
  margin: 1.25rem 0;
}

.modal-wrap .modal .title > h3 {
  margin: 1.25rem 0;
  margin-left: 0.625rem;
}

.modal-wrap .modal .title .close-btn {
  position: absolute;
  right: 1.25rem;
  top: 0.1875rem;
}

.modal-wrap .modal .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-wrap .modal .content .member-info .input-group {
  display: block;
  margin-bottom: 0.9375rem;
}

.modal-wrap .modal .content .member-info .input-group span {
  font-size: 0.875rem;
  background-color: #dee2e6;
  padding: 0.75rem;
}

.modal-wrap .modal .content .visit-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 20%);
  margin: auto;
}

.modal-wrap .modal .content .visit-info label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #808080;
  margin: 0.625rem 0;
}

.modal-wrap .modal .content .visit-info .visit-data {
  border-bottom: 0.03125rem solid #dee2e6;
  padding-bottom: 0.3125rem;
}

.modal-wrap .modal .content .id-photo {
  margin-bottom: 1.25rem;
}

.modal-wrap .modal .state {
  font-size: 1.5625rem;
  margin: 1.875rem 0;
}

.modal-wrap .modal .state.waiting {
  color: #ff0000;
}

.modal-wrap .modal .state.success {
  color: #69AA46;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .login-form {
  margin: auto;
  width: calc(100% - 20%);
}

.login .logo {
  text-align: center;
}

.login .logo img {
  width: 80%;
}

.login .input-list {
  width: 80%;
  margin: auto;
}

.login .input-list .id-input {
  position: relative;
  margin-bottom: 0.9375rem;
  width: 100%;
}

.login .input-list .id-input:after {
  content: '';
  position: absolute;
  left: 0.9375rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/icon_usr.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.25rem;
  height: 1.25rem;
}

.login .input-list .pw-input {
  position: relative;
  width: 100%;
}

.login .input-list .pw-input:after {
  content: '';
  position: absolute;
  left: 0.9375rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/icon_password.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.25rem;
  height: 1.5rem;
}

.login .remember {
  width: 80%;
  margin: auto;
  margin-top: 0.625rem;
}

.login .remember .remember-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login .remember #remember {
  display: none;
}

.login .remember label input[id="remember"] + label {
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  border: 0.03125rem solid #ccc;
  cursor: pointer;
  margin-right: 0.9375rem;
}

.login .remember label input[id="remember"]:checked + label {
  background-image: url(../img/icon_check.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.login .remember label span {
  font-size: 1.25rem;
}

.login .custom-btn {
  margin-top: 1.25rem;
  width: 80%;
  margin: auto;
}

.form-box {
  width: 17.1875rem;
  padding: 1.25rem !important;
  border: 0.03125rem solid #dee2e6;
  border-radius: 0.15625rem;
  padding-left: 3.75rem !important;
  font-size: 1rem;
}

.form-box.sm {
  padding: 0.625rem !important;
}

.form-box.auto-width {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.form-box.max-width {
  width: 100%;
}

.form-box.select-type {
  width: 100%;
  text-align-last: center;
  margin-top: 1.25rem;
  background-color: #ffffff;
}

.header {
  margin: 0;
  padding: 0;
  border: unset;
}

.header .title {
  text-align: center;
  font-size: 1.40625rem;
  background-color: #f8f9fa;
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
          box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  padding: 0.9375rem;
  margin-bottom: 1.5625rem;
}

.header .insert-box,
.header .select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 10%);
  margin: auto;
}

.custom-btn {
  display: block;
  padding: 0.9375rem;
  background-color: #007bff;
  color: #ffffff !important;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 0.1875rem;
  text-align: center;
}

.custom-btn.sm {
  font-weight: 300;
}

.custom-btn.btn-left-margin {
  margin-left: 0.625rem;
}

.custom-btn.red-btn {
  background-color: #ff0000;
}

.custom-btn:hover {
  color: #ffffff !important;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25rem;
}

.btn-group .flex-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.table {
  width: calc(100% - 10%);
  margin: auto;
  margin-top: 0.9375rem;
}

.table tr th, .table tr td {
  border: 0.03125rem solid #dee2e6;
  text-align: center;
  vertical-align: middle;
  font-size: 0.875rem;
  border-collapse: collapse;
  padding: 0.625rem 0;
}

.table tbody tr:nth-child(4n-1) {
  background-color: #f8f9fa;
}

.table tbody tr:nth-child(4n) {
  background-color: #f8f9fa;
}

.table thead > tr {
  border: 0.03125rem solid #ddd;
  background: unset;
}

.table thead > tr > th {
  border-bottom: unset;
}

.pagging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem 0;
}

.pagging ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagging ul li {
  border: 0.03125rem solid #dee2e6;
  border-right: none;
  padding: 0.625rem;
  line-height: 1.5;
}

.pagging ul li.prev {
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}

.pagging ul li.prev a {
  color: #007bff;
}

.pagging ul li.next {
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  border-right: 0.03125rem solid #dee2e6;
}

.pagging ul li.next a {
  color: #007bff;
}

.pagging ul li.active {
  background-color: #f8f9fa;
}

.pagging ul li.active a {
  color: #007bff;
}
body{
  min-width: 100% !important;
}
.modal{
  overflow: scroll;
}
.modal-dialog{
  width: calc(100% - 10%);
  margin: auto;
  overflow: scroll;
}
.inout-sec{
  background: unset;
}
.inout-sec .member-info {
  width: 100%;
  float: none;
  border-right: none;
}
.inout-sec .visit-info {
  width: 100%;
  border: none;
  float: none;
} 
.input-group .custom-input{
  height:44px;
}
.input-group .custom-input.la{
  height:53px;
}