
body{
  min-width: 100% !important;
}
.modal-dialog{
  width: calc(100% - 10%);
  margin: auto;
  overflow: scroll;
}
.inout-sec{
  background-color: unset;
}
.inout-sec .member-info {
  width: 100%;
  float: none;
  border-right: none;
}
.inout-sec .visit-info {
  width: 100%;
  border: none;
  float: none;
} 